<h1>Book List:</h1>

{{#each booksArr}}
    <div class="book-summary">
        <p>
            Title: {{this.title}}
        </p>
        <p>
            Author: {{this.author}}
        </p>
    </div>
{{/each}}

